<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>PDS</title>
</head>
<body>
  <h1 style="text-align: center;">Plant Disease Solution</h1>
  <div class="container">
    <blockquote class="blockquote">
      <p style="text-align: justify;">This project provides a smart and effective approach to agricultural disease
        identification
        that uses computer vision and deep learning techniques. The suggested method can identify
        diseases in 22 different common plants.</p>
    </blockquote>
  </div>
  <div class="container">
    <hr>
    <h2>Select Image</h2>
    <form action="/success" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <input type="file" name="file" id="file" class="form-control" id="inputGroupFile04"
          aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <input class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" value="Upload">
      </div>
    </form>
  </div>
  <div class="container">
    <P style="position: fixed; bottom: 0%;">Developed by Hasir Ansari</P>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>